<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Light Novel Converter</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header class="bg-success text-white text-center py-3">
        <h1>Web Light Novel Converter</h1>
        <nav>
            <ul class="nav justify-content-center">
                {% if current_user.is_authenticated %}
                    <li class="nav-item"><a class="btn btn-secondary ms-3" href="{{ url_for('search') }}">Search</a></li>
                    <li class="nav-item"><a class="btn btn-secondary ms-3" href="{{ url_for('logout') }}">Logout</a></li>
                    <!-- <li><a href="{{ url_for('temp_links') }}" class="btn btn-secondary ms-3">View Download History</a></li> -->
                {% else %}
                    <li class="nav-item"><a class="nav-link text-white" href="{{ url_for('login') }}">Login</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="{{ url_for('register') }}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main class="container mt-4">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-warning">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>
    <footer class="text-center py-3">
        <p>&copy; 2024 Web Light Novel Converter</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>