{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h2>Search for Light Novels</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.query.label(class='form-label') }} 
            {{ form.query(class='form-control') }}
            {% for error in form.query.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-success">Search</button>
    </form>
    
    {% if results %}
        <ul class="list-group mt-4">
            {% for result in results %}
                <li class="list-group-item">
                    <a href="{{ result.url }}">{{ result.title }}</a>
                    <p>{{ result.info }}</p>
                    
                    <form action="/download" method="POST">
                        {{ form.hidden_tag() }}  <!-- CSRF token for download form -->
                        <input type="hidden" name="link" value="{{ result.url }}">
                        <div class="form-group">
                            <label for="chapter_range_{{ loop.index }}">Chapter Numbers Range:</label>
                            <input type="text" id="chapter_range_{{ loop.index }}" name="chapter_range" class="form-control" required placeholder="e.g., 1-50 or 5-20">
                        </div>
                        <div class="form-group">
                            <label for="format_{{ loop.index }}">Select format:</label>
                            <select name="format" id="format_{{ loop.index }}" class="form-control">
                                <option value="epub">EPUB</option>
                                <option value="pdf">PDF</option>
                            </select>       
                        </div>
                        {% if download_error and download_error_link == result.url %}
                            <div class="text-danger mt-2">{{ download_error }}</div>
                        {% endif %}
                        <button type="submit" class="btn btn-success mt-2">Download</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="mt-4">No results found for your search.</p>
    {% endif %}
</div>

<script>
  document.querySelectorAll('input[name="chapter_range"]').forEach(function(input) {
    input.addEventListener('input', function() {
      var inputValue = this.value;
      if (inputValue.includes('-')) {
        var formattedValue = inputValue.replace('-', ' ');
        this.value = formattedValue;
      }
    });
  });
</script>

{% endblock %}